<a href="https://colab.research.google.com/github/HrideshSingh/DWDMLabs/blob/main/DWDM_Lab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DWDM LAB-3
# Hridesh Singh
# 19BCE7102

1. Import pandas under the alias pd

In [9]:
import pandas as pd
import numpy as np

2. Print the version of pandas that has been imported.

In [3]:
print(pd.__version__)

1.3.5

3. Print out all the versioninformation of the libraries that are required by the pandas library.

In [4]:
pd.show_versions()

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

INSTALLED VERSIONS
------------------
commit           : 66e3805b8cabe977f40c05259cc3fcf7ead5687d
python           : 3.7.12.final.0
python-bits      : 64
OS               : Linux
OS-release       : 5.4.144+
Version          : #1 SMP Tue Dec 7 09:58:10 PST 2021
machine          : x86_64
processor        : x86_64
byteorder        : little
LC_ALL           : None
LANG             : en_US.UTF-8
LOCALE           : en_US.UTF-8

pandas           : 1.3.5
numpy            : 1.21.5
pytz             : 2018.9
dateutil         : 2.8.2
pip              : 21.1.3
setuptools       : 57.4.0
Cython           : 0.29.28
pytest           : 3.6.4
hypothesis       : None
sphinx           : 1.8.6
blosc            : None
feather          : 0.4.1
xlsxwriter       : None
lxml.etree       : 4.2.6
html5lib         : 1.0.1
pymysql          : None
psycopg2         : 2.7.6.1 (dt dec pq3 ext lo64)
jinja2           : 2.11.3
IPython          : 5.5.0
pandas_datareader: 0.9.0
bs4              : 4.6.3
bottleneck       : 1.3.4
fsspec           : None
fastparquet      : None
gcsfs            : None
matplotlib       : 3.2.2
numexpr          : 2.8.1
odfpy            : None
openpyxl         : 3.0.9
pandas_gbq       : 0.13.3
pyarrow          : 6.0.1
pyxlsb           : None
s3fs             : None
scipy            : 1.4.1
sqlalchemy       : 1.4.32
tables           : 3.7.0
tabulate         : 0.8.9
xarray           : 0.18.2
xlrd             : 1.1.0
xlwt             : 1.3.0
numba            : 0.51.2

4. Create a DataFrame dffrom this dictionary datawhich has the index labels.

  data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],

  'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],

  'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

  'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

  labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [42]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data, index=labels)

5. Display a summary of the basic information about this DataFrame and its data.

In [43]:
df.info()

# ...or...

df.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

            age     visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.625000   2.750000
max    7.000000   3.000000

6. Return the first 3 rows of the DataFrame df.

In [14]:
df.head(3)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

7. Select just the 'animal' and 'age' columns from the DataFrame df.

In [44]:
df[['animal', 'age']]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

8. Select the data in rows [3, 4, 8] and in columns ['animal', 'age'].

In [16]:
df.loc[df.index[[3, 4, 8]], ['animal', 'age']]

  animal  age
d    dog  NaN
e    dog  5.0
i    dog  7.0

9. Select only the rows where the number of visits is greater than 3.

In [17]:
df[df['visits'] > 3]

Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

10. Select the rows where the age is missing, i.e. it is NaN.

In [18]:
df[df['age'].isnull()]

  animal  age  visits priority
d    dog  NaN       3      yes
h    cat  NaN       1      yes

11. Select the rows where the animal is a cat and the age is less than 3.

In [19]:
df[(df['animal'] == 'cat') & (df['age'] < 3)]

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

12. Select the rows the age is between 2 and 4 (inclusive).

In [20]:
df[df['age'].between(2, 4)]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

13. Change the age in row 'f' to 1.5.

In [21]:
df.loc['f', 'age'] = 1.5
print(df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

14. Calculate the sum of all visits in df (i.e. find the total number of visits).

In [22]:
df['visits'].sum()

19

15. Calculate the mean age for each different animal in df.

In [23]:
df.groupby('animal')['age'].mean()

animal
cat      2.333333
dog      5.000000
snake    2.500000
Name: age, dtype: float64

16. Append a new row 'k' to df with your choice of values for each column. Then delete that row to
return the original DataFrame.

In [24]:
df.loc['k'] = [5.5, 'dog', 'no', 2]
df = df.drop('k')
print(df)

  animal  age visits priority
a    cat  2.5      1      yes
b    cat  3.0      3      yes
c  snake  0.5      2       no
d    dog  NaN      3      yes
e    dog  5.0      2       no
f    cat  1.5      3       no
g  snake  4.5      1       no
h    cat  NaN      1      yes
i    dog  7.0      2       no
j    dog  3.0      1       no

17. Count the number of each type of animal in df.

In [25]:
df['animal'].value_counts()

cat      4
dog      4
snake    2
Name: animal, dtype: int64

18. Sort df first by the values in the 'age' in decending order, then by the value in the 'visits' column 
in ascending order (so row i should be first, and row d should be last).

In [27]:
df.sort_values(by=['age', 'visits'], ascending=[False, True])

  animal  age visits priority
i    dog  7.0      2       no
e    dog  5.0      2       no
g  snake  4.5      1       no
j    dog  3.0      1       no
b    cat  3.0      3      yes
a    cat  2.5      1      yes
f    cat  1.5      3       no
c  snake  0.5      2       no
h    cat  NaN      1      yes
d    dog  NaN      3      yes

19. The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of 
boolean values: 'yes' should be True and 'no' should be False.

In [28]:
df['priority'] = df['priority'].map({'yes': True, 'no': False})
print(df)

  animal  age visits  priority
a    cat  2.5      1      True
b    cat  3.0      3      True
c  snake  0.5      2     False
d    dog  NaN      3      True
e    dog  5.0      2     False
f    cat  1.5      3     False
g  snake  4.5      1     False
h    cat  NaN      1      True
i    dog  7.0      2     False
j    dog  3.0      1     False

20. In the 'animal' column, change the 'snake' entries to 'python'.

In [29]:
df['animal'] = df['animal'].replace('snake', 'python')
print(df)

   animal  age visits  priority
a     cat  2.5      1      True
b     cat  3.0      3      True
c  python  0.5      2     False
d     dog  NaN      3      True
e     dog  5.0      2     False
f     cat  1.5      3     False
g  python  4.5      1     False
h     cat  NaN      1      True
i     dog  7.0      2     False
j     dog  3.0      1     False

21. For each animal type and each number of visits, find the mean age. In other words, each row is 
an animal, each column is a number of visits and the values are the mean ages (hint: use a pivot 
table).

In [30]:
df.pivot_table(index='animal', columns='visits', values='age', aggfunc=
'mean')

visits    1    2     3
animal
cat     2.5  NaN  2.25
dog     3.0  6.0   NaN
python  4.5  0.5   NaN

22. You have a Data Frame df with a column 'A' of integers. 

  For example: 

  df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]}) 

  How do you filter out rows which contain the same integer as the row immediately above? 

  You should be left with a column containing the following values: 

  1, 2, 3, 4, 5, 6, 7

In [31]:
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
df.loc[df['A'].shift() != df['A']]

   A
0  1
1  2
3  3
4  4
5  5
8  6
9  7

23. Given a DataFrame of numeric values, say 
  
  df = pd.DataFrame(np.random.random(size=(5, 3))) 
  
  // a 5x3 frame of float values 
  
  how do you subtract the row mean from each element in the row?

In [33]:
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
df.sub(df.mean(axis=1), axis=0)

          0         1         2
0 -0.062085 -0.113102  0.175187
1 -0.378979  0.396695 -0.017716
2 -0.246522  0.113963  0.132559
3  0.003168  0.102642 -0.105810
4  0.134478 -0.133749 -0.000729

24. Suppose you have Data Frame with 10 columns of real numbers. Which column of numbers has the smallest sum? Return that column's label.

In [34]:
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
df.sum().idxmin()

'e'

25. How do you count how many unique rows a Data Frame has (i.e. ignore all rows that are duplicates)? As input, use a Data Frame of zeros and ones with 10 rows and 3 columns.

  df = pd.DataFrame(np.random.randint(0, 2, size=(10, 3)))

In [35]:
df = pd.DataFrame(np.random.randint(0, 2, size=(10, 3)))
len(df.drop_duplicates(keep=False))

2

26. In the cell below, you have a Data Frame df that consists of 10 columns of floating-point numbers. Exactly 5 entries in each row are NaN values. 
For each row of the Data Frame, find the column which contains the third NaN value.

  You should return a Series of column labels: e, c, d, h, d

  nan = np.nan

  data = [[0.04, nan, nan, 0.25, nan, 0.43, 0.71, 0.51, nan, nan],

  [ nan, nan, nan, 0.04, 0.76, nan, nan, 0.67, 0.76, 0.16],

  [ nan, nan, 0.5 , nan, 0.31, 0.4 , nan, nan, 0.24, 0.01],

  [0.49, nan, nan, 0.62, 0.73, 0.26, 0.85, nan, nan, nan], 

  [ nan, nan, 0.41, nan, 0.05, nan, 0.61, nan, 0.48, 0.68]] 

  columns = list('abcdefghij') 

  df = pd.DataFrame(data, columns=columns)

In [37]:
nan = np.nan
data = [[0.04, nan, nan, 0.25, nan, 0.43, 0.71, 0.51, nan, nan],
 [ nan, nan, nan, 0.04, 0.76, nan, nan, 0.67, 0.76, 0.16],
 [ nan, nan, 0.5 , nan, 0.31, 0.4 , nan, nan, 0.24, 0.01],
 [0.49, nan, nan, 0.62, 0.73, 0.26, 0.85, nan, nan, nan],
 [ nan, nan, 0.41, nan, 0.05, nan, 0.61, nan, 0.48, 0.68]]

columns = list('abcdefghij')

df = pd.DataFrame(data, columns=columns)

(df.isnull().cumsum(axis=1) == 3).idxmax(axis=1)

0    e
1    c
2    d
3    h
4    d
dtype: object

27. A Data Frame has a column of groups 'grps' and column of integer values 'vals':

  df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 

  'vals':[12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})

  For each group, find the sum of the three greatest values. You should end up with the answer as follows:

  grps a 409 b 156 c 345

In [38]:
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'),
 'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]
})
df.groupby('grps')['vals'].nlargest(3).sum(level=0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  after removing the cwd from sys.path.

grps
a    409
b    156
c    345
Name: vals, dtype: int64

28. The Data Frame df constructed below has two integer columns 'A' and 'B'. 

  The values in 'A' are between 1 and 100 (inclusive). 

  For each group of 10 consecutive integers in 'A' (i.e. (0, 10], (10, 20], ...), calculate the sum of the corresponding values in column 'B'.

  The answer should be a Series as follows:

  A (0, 10] 635 (10, 20] 360 (20, 30] 315 (30, 40] 306 (40, 50] 750 (50, 60] 
284 (60, 70] 424 (70, 80] 526 (80, 90] 835 (90, 100] 852 

  df = pd.DataFrame(np.random.RandomState(8765).randint(1, 101, size=(100, 2)), 

  columns = ["A", "B"])

In [39]:
df = pd.DataFrame(np.random.RandomState(8765).randint(1, 101, size=(100, 2)), columns = ["A", "B"])

df.groupby(pd.cut(df['A'], np.arange(0, 101, 10)))['B'].sum()

A
(0, 10]      635
(10, 20]     360
(20, 30]     315
(30, 40]     306
(40, 50]     750
(50, 60]     284
(60, 70]     424
(70, 80]     526
(80, 90]     835
(90, 100]    852
Name: B, dtype: int64