<a href="https://colab.research.google.com/github/HrideshSingh/DWDMLabs/blob/main/DWDM_Lab_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DWDM LAB 1

 1. Calculate income tax for the given income by adhering to the below rules
 
 Taxable Income	     Rate (%)
 
 First 5,00,000	            0
 
 Second 7,50,000            10
 
 Third 10,00,000	           20
 
 Remaining                  30

In [ ]:
while True:
    try:
        income = int(input("Please input your income: "))
    except ValueError:
        print("Please Enter a Input")
        continue
    else:
      break

if income>=0:
  if income <= 500000:   
      tax = 0
  elif income <= 750000: 
      tax = (income - 500000) * 0.10
  elif income <= 1000000: 
      tax = (income - 750000) * 0.20 +  25000
  elif income > 1000000:
      tax = (income - 1000000) * 0.30 + 75000

  print("Your income tax is: ",tax)
else: 
  print("Please Enter a valid Input")

Please input your income: 750000
Your income tax is:  25000.0

2. Write a code to extract each digit from an integer, in the reverse order

  Expected Output: 
For example, if the given int is 7536, the output shall be “6
3 5 7“, with a space separating the digits.

In [ ]:
new_string = input("Please Give an Input: ")
emp_str = ""
for m in new_string:
    if m.isdigit():
        emp_str = emp_str + m
num = int(emp_str)
n=0
while num>0:
    a = num%10
    num = num - a
    num = num/10
    print(int(a),end="")

Please Give an Input: 7536
6357

3. Given a list iterate it and display numbers which are divisible by 5 and if you find number greater than 150 stop the loop iteration
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]

  Expected output:
15
55
75
150

In [ ]:
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
for i in list1:
  if i>150:
    break
  elif i%5==0:
    print(i)

15
55
75
150

4. Create a function showEmployee() in such a way that it should accept employee name, 
and it’s salary and display both, and if the salary is missing in function call it should show it as 9000

  Expected Output:
showEmployee("Ben", 9000)
showEmployee("Ben")
Should Produce:
Employee Ben salary is: 9000
Employee Ben salary is: 9000

In [ ]:
def func(employee, salary=9000):
    print('Employee ',employee,'salary is: ', salary)

func('Ben', 3000)
func('Ben')

Employee  Ben salary is:  3000
Employee  Ben salary is:  9000

  5.Count all lower case, upper case, digits, and special symbols from a given string

  Given:
  str1 = "P@#yn26at^&i5ve"

  Expected Outcome:
  
  Total counts of chars, digits,and symbols 
  
  Chars = 8 
  
  Digits = 3 
  
  Symbol = 4

In [ ]:
def count_chars(str):
     upper_ctr, lower_ctr, number_ctr, special_ctr = 0, 0, 0, 0
     for i in range(len(str)):
          if str[i] >= 'A' and str[i] <= 'Z': upper_ctr += 1
          elif str[i] >= 'a' and str[i] <= 'z': lower_ctr += 1
          elif str[i] >= '0' and str[i] <= '9': number_ctr += 1
          else: special_ctr += 1
     return upper_ctr, lower_ctr, number_ctr, special_ctr
           
str = "DWDM@456571(&*(*^fsdfsd"
u, l, n, s = count_chars(str)
print('Total counts of chars, digits,and symbols ')
print('Chars = ',u+l)
print('Digits = ',n)
print('Symbol = ',s)

Total counts of chars, digits,and symbols
Chars =  10
Digits =  6
Symbol =  7

6. Given a string, return the sum and average of the digits that appear in the string, ignoring all other characters

  Given:
  
  str1 = "English = 78 Science = 83 Math = 68 History = 65"

  Expected Outcome:
  
  sum is 294
  
  average is 73.5

In [ ]:
z = []
s = 'English = 78 Science = 83 Math = 68 History = 65'
for x in range(len(s)):
    if s[x] in ['1', '2', '3', '4', '5', '6', '7', '8', '9', '0']:
        if x == 0:
            z.append(s[x])
        elif s[x - 1] in ['1', '2', '3', '4', '5', '6', '7', '8', '9', '0']:
            z[-1] += s[x]
        else:
            z.append(s[x])

k = 0
for n in z:
    k += int(n)
print('sum is ',k)
print('average is ',k / len(z))

sum is  294
average is  73.5

7. Given a two list. Create a third list by picking an odd-index element from the first list and even index elements from second.

  For Example:

  listOne = [3, 6, 9, 12, 15, 18, 21]

  listTwo = [4, 8, 12, 16, 20, 24, 28]

  Expected Output:

  Element at odd-index positions from list one
  
  [6, 12, 18]

  Element at even-index positions from list two
  
  [4, 12, 20, 28]

  Printing Final third list
  
  [6, 12, 18, 4, 12, 20, 28]

In [ ]:

l1 = [3, 6, 9, 12, 15, 18, 21]
l2 = [4, 8, 12, 16, 20, 24, 28]
l3 = list()

odd = l1[1::2]
print("Element at odd-index positions from list one")
print(odd)

even = l2[0::2]
print("Element at odd-index positions from list two")
print(even)

print("Final third list")
l3.extend(odd)
l3.extend(even)
print(l3)

Element at odd-index positions from list one
[6, 12, 18]
Element at odd-index positions from list two
[4, 12, 20, 28]
Final third list
[6, 12, 18, 4, 12, 20, 28]

8. Given a two list of equal size create a set such that it shows the element from both lists in the pair

  Expected Output:

  First List  [2, 3, 4, 5, 6, 7, 8]

  Second List  [4, 9, 16, 25, 36, 49, 64]

  Result is  {(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

In [ ]:
l1 = [2, 3, 4, 5, 6, 7, 8]
print("First List ", l1)

l2 = [4, 9, 16, 25, 36, 49, 64]
print("Second List ", l2)

result = zip(l1, l2)
result_set = set(result)
print(result_set)

First List  [2, 3, 4, 5, 6, 7, 8]
Second List  [4, 9, 16, 25, 36, 49, 64]
{(6, 36), (8, 64), (4, 16), (5, 25), (3, 9), (7, 49), (2, 4)}

9. Given a dictionary get all values from the dictionary and add it in a list but don’t add duplicates.

  speed ={'jan':47, 'feb':52, 'march':47, 'April':44, 'May':52, 'June':53, 
  'july':54, 'Aug':44, 'Sept':54}

  Expected Outcome: [47, 52, 44, 53, 54]

In [ ]:
l1 = {'jan': 47, 'feb': 52, 'march': 47, 'April': 44, 'May': 52, 'June': 53,
         'july': 54, 'Aug': 44, 'Sept': 54}

l2 = list()
for val in l1.values():
    if val not in l2:
        l2.append(val)
print(l2)

[47, 52, 44, 53, 54]

10. Remove duplicate from a list and create a tuple and find the minimum and maximum number.

  For Example:

  sampleList = [87, 45, 41, 65, 94, 41, 99, 94]

  Expected Outcome:

  unique items [87, 45, 41, 65, 99]

  tuple (87, 45, 41, 65, 99)

  min: 41

  max: 99

In [ ]:
l1 = [87, 45, 41, 65, 94, 41, 99, 94]

l1 = list(set(l1))
print("unique items", l1)

t = tuple(l1)
print("tuple ", t)

print("min ", min(t))
print("max ", max(t))

unique items [65, 99, 41, 45, 87, 94]
tuple  (65, 99, 41, 45, 87, 94)
min  41
max  99